body {
    background-image: url(Background.png);
}

.btn {
	background-color:transparent;
	border-radius:18px;
	border:1px solid #070707;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:SUPERBOLD-Regular, SUPER;
	font-size:17px;
	font-weight:bold;
	padding:25px 40px;
	text-decoration:none;
}
.btn:hover {
	background-color:transparent;
}
.btn:active {
	position:relative;
	top:1px;
}
.btn {
	margin: 10px
}
#increase {
	margin-left: 665px;
}


#txts {
	margin-left: 670px;
	margin-top: 300px;
}